server:
  # listen on loopback (access will be via Apache proxy)
  listenaddr: {{ gotify.server.interface }}
  # the port the HTTP server will listen on
  port: {{ gotify.server.port }}

  ssl:
    enabled: false # if https should be enabled
#    redirecttohttps: true # redirect to https if site is accessed by http
#    listenaddr: "" # the address to bind on, leave empty to bind on all addresses
#    port: 443 # the https port
#    certfile: # the cert file (leave empty when using letsencrypt)
#    certkey: # the cert key (leave empty when using letsencrypt)
    letsencrypt:
      enabled: false # if the certificate should be requested from letsencrypt
#      accepttos: false # if you accept the tos from letsencrypt
#      cache: data/certs # the directory of the cache from letsencrypt
#      hosts: # the hosts for which letsencrypt should request certificates
#      - mydomain.tld
#      - myotherdomain.tld

#  responseheaders: # response headers are added to every response (default: none)
#    Access-Control-Allow-Origin: "*"
#    Access-Control-Allow-Methods: "GET,POST"

#  stream:
    # allowed origins for websocket connections (same origin is always allowed)
#    allowedorigins: 
#      - ".+.example.com"
#      - "otherdomain.com"

database: # for database see (configure database section)
  dialect: sqlite3
  connection: data/gotify.db

defaultuser: # on database creation, gotify creates an admin user
  name: admin # the username of the default user
  pass: {{ gotify.server.pwd }} # the password of the default user
passstrength: 10 # the bcrypt password strength (higher = better but also slower)
uploadedimagesdir: data/images # the directory for storing uploaded images
pluginsdir: data/plugins # the directory where plugin resides
