[Desktop Entry]
Name=Gotify server
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ gotify.server.domain }}"
GenericName={{ gotify.server.domain }}
Comment=Gotify push server
Categories=Network;WebDevelopment;
Keywords=gotify;webapp;notify;notifier;push;
StartupWMClass=chromium-app-gotify
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
