[Unit]
Description=Gotify daemon
After=network-online.target
Requires=network-online.target
 
[Service]
User={{ gotify.server.user }}
User={{ gotify.server.user }}
WorkingDirectory={{ gotify.server.bindir }}
ExecStart={{ gotify.server.binpath }}
Restart=always
 
[Install]
WantedBy=multi-user.target
